<div class="top-nav-brand">
    <img class="nect-logo"
    src="../../../assets/nodejs.png" alt="nect-log">
    <h2> Angular & NodeJS API Coding Demo</h2>
</div>

<div class="events-container">
    <h1 class="event-title">List of events</h1>
    <div class="filter-box">
        <button mat-raised-button color="primary" class="event-get" (click)="getEvents()">Get all list</button>

        <!--<mat-icon class="sort-icon">filter_list</mat-icon>-->
        <mat-form-field appearance="fill" class="evt-sort">
            <mat-label>Sort By Event Type</mat-label>
            <mat-select (selectionChange)="sortByType($event.value)">
              <mat-option *ngFor="let type of typeList" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill" class="evt-sort">
            <mat-label>Sort By Case UUID</mat-label>
            <mat-select (selectionChange)="sortByUUID($event.value)">
              <mat-option *ngFor="let uuid of uuidList" [value]="uuid">
                {{uuid}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-slide-toggle class="sort-slide" (change)="refresh($event)">Auto-refresh</mat-slide-toggle>
     
    </div>


    <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 event-table">    
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{indexCounter + i}} </td>
      </ng-container>

      <ng-container matColumnDef="event">
        <th mat-header-cell *matHeaderCellDef> Event </th>
        <td mat-cell *matCellDef="let element"> {{element.event}} </td>
      </ng-container>
    
      <ng-container matColumnDef="caseUuid">
        <th mat-header-cell *matHeaderCellDef> CaseUuid</th>
        <td mat-cell *matCellDef="let element"> {{element.caseUuid}} </td>
      </ng-container>
      
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date:'medium'}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <mat-paginator [length]="tableLength" [pageSize]="10" (page)="onPaginateChange($event)"></mat-paginator>

  <footer class="evt-footer">
    <p>Copyright 2020 © Juda-Angular-Node-API-Demo.</p>
  </footer>
</div>

