.top-nav-brand{
    padding: 10px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.1);
    h2{
       text-align: center;
       margin-top: -50px;
       color: rgba(0,0,0,.5);
    }
    .nect-logo{
        width: 285px;
        height: 100px;
        object-fit: cover;
    }
}
.events-container{
    font-family: 'Source Sans Pro', sans-serif !important;
    background: #fafafa;
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    .event-title{
        padding-left: 30px;
        padding-top: 30px;
    }
    .filter-box{
        margin: auto;
        display: block;
        width: 90%;
        margin-bottom: 30px;
        padding: 10px;
        border-bottom: 1px solid rgba(0,0,0,.12);
        background: #fff;
    }
    .evt-sort{
        margin-left: 50px;
        margin-top: 10px;
    }
    .sort-icon{
        margin-top: -27px;
    }
    .sort-label{
        margin-left: 30px;
    }
    .sort-slide{
        margin-left: 100px;
    }
    .event-table{
        margin: auto;
        width: 95%;
        margin-bottom: 30px;
    }
    .event-get{
        margin-left: 30px;
        margin-right: 30px; 
    }
}
.evt-footer{
    text-align: center;
    margin-bottom: 30px;
    color: rgba(0,0,0,.8);
}
@media screen and (max-width: 400px){
    .top-nav-brand{
        h2{
           margin-top: 0px;
           margin-bottom: 0px;
        }
        .nect-logo{
            display: none;
        }
    } 
    .events-container{
        .evt-sort{
            margin-left: 30px;
            color: firebrick;
        }
        .sort-slide{
            margin-left: 30px;
        }
    }    
}